Repository wordpress-mobile/gutenberg-mobile, pull requests merged in 2019-01, with the labels that each got.

#461 Scroll to caret position on focused field
  ios/gutenberg.xcodeproj/project.pbxproj
  package.json
  react-native-gutenberg-bridge/third-party-podspecs/react-native-keyboard-aware-scroll-view.podspec.json
  src/block-management/block-manager.js
  src/components/keyboard-aware-flat-list.android.js
  src/components/keyboard-aware-flat-list.ios.js
  yarn.lock
Labels: Needs iOS Dev, iOS

#477 HTML Editor - Fix keyboard avoiding behavior on iOS
  src/block-management/block-manager.js
  src/components/html-text-input.js
  src/components/html-text-input.scss
Labels: Writing Flow, iOS

#482 Android - Add post title to Gutenberg Mobile
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: enhancement

#487 Change mediaId from String to int in bridge for media upload
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Android

#488 Makes the media id used on uploads an Int.
  ios/gutenberg/MediaPickAndUploadCoordinator.swift
  react-native-gutenberg-bridge/ios/Gutenberg.swift
  react-native-gutenberg-bridge/ios/GutenbergBridgeDelegate.swift
Labels: iOS

#481 Make Aztec send height information to JS after pasting text
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
Labels: Paste, iOS

#484 Moving RNAztecView.podspec to root dir.
  RNTAztecView.podspec
  bin/generate-podspecs.sh
  react-native-gutenberg-bridge/third-party-podspecs/RNTAztecView.podspec.json
Labels: iOS

#496 [wp-android] Fix crash starting writing new post
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Android, App Integration, bug

#497 The HTML editor background is now white.
  src/components/html-text-input.scss
Labels: enhancement

#494 Upload captured photo ios
  ios/gutenberg/GutenbergViewController.swift
  ios/gutenberg/Info.plist
  ios/gutenberg/MediaPickAndUploadCoordinator.swift
  react-native-gutenberg-bridge/ios/GutenbergBridgeDelegate.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.m
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.swift
Labels: iOS

#504 Fix the changes detected issue on Android
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Android, App Integration

#510 Media upload reattach on iOS
  ios/gutenberg/GutenbergViewController.swift
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/index.js
  react-native-gutenberg-bridge/ios/GutenbergBridgeDelegate.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.m
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.swift
Labels: Media, iOS

#515 Removes border from title and changes the placeholder text.
  src/block-management/block-manager.js
  src/block-management/block-manager.scss
Labels: enhancement
