Repository wordpress-mobile/gutenberg-mobile, pull requests merged in 2019-10, with the labels that each got.

#1393 Merge master (v1.13.1) back to develop
  package.json
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
Labels: release-process

#1401 Fix/1268 content is missing on long posts in html mode
  RELEASE-NOTES.txt
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Android

#1415 iOS dark mode improvements
  RELEASE-NOTES.txt
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
Labels: Dark mode, enhancement

#1426 Update to iOS11 and Swift 5.
  Gutenberg.podspec
  ios/gutenberg.xcodeproj/project.pbxproj
  react-native-aztec/ios/RNTAztecView.xcodeproj/project.pbxproj
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.xcodeproj/project.pbxproj
Labels: enhancement, iOS

#1434 Update RNTAztec to iOS11
  RNTAztecView.podspec
Labels: Technical Debt, enhancement

#1412 Filter for images and video in add media picker
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Android, Media, enhancement

#1435 Import new location for base styles
  sass-transformer.js
Labels: Tooling

#1444 [Android] Revert missing toggle editor mode call
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
Labels: Android

#1451 Expose WordPressUtils for consumption by react-native-gutenberg-bridge
  react-native-aztec/android/build.gradle
Labels: Android

#1494 Fix requestImport call to send the correct arguments.
  RELEASE-NOTES.txt
  ios/gutenberg/GutenbergViewController.swift
  react-native-gutenberg-bridge/ios/GutenbergBridgeDelegate.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.swift
Labels: bug
