Repository wordpress-mobile/gutenberg-mobile, pull requests merged in 2019-03, with the labels that each got.

#694 Issue/fix caret updates
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
Labels: bug

#698 Update react-native-keyboard-aware-scroll-view version on iOS example app
  package.json
  react-native-gutenberg-bridge/third-party-podspecs/react-native-keyboard-aware-scroll-view.podspec.json
  yarn.lock
Labels: iOS

#678 Allow gutenberg bridge to add custom modules.
  ios/CustomImageLoader.swift
  ios/gutenberg.xcodeproj/project.pbxproj
  ios/gutenberg/GutenbergViewController.swift
  react-native-gutenberg-bridge/ios/Gutenberg.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge-Bridging-Header.h
Labels: Media, iOS

#711 Release v1.0.2
  .circleci/config.yml
  .travis.yml
  bin/ci-checks-js.sh
  package.json
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
Labels: Needs Android Dev

#721 Update aztec to 1.4.4
  react-native-aztec/ios/Cartfile
  react-native-aztec/ios/Cartfile.resolved
  react-native-aztec/ios/RNTAztecView.xcodeproj/project.pbxproj
  react-native-aztec/ios/RNTAztecView/HeadingBlockFormatHandler.swift
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
  react-native-aztec/package.json
Labels: iOS

#743 Fix - HTML Editor - Keyboard can not be closed
  src/components/html-text-input.js
Labels: iOS

#742 [iOS]Update heading placeholder size on heading level change
  react-native-aztec/ios/RNTAztecView/HeadingBlockFormatHandler.swift
  react-native-aztec/ios/RNTAztecView/RCTAztecView.swift
Labels: bug, iOS

#753 2nd Fix for Placeholder on Heading block
  react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java
Labels: Android

#755 Fix text becoming invisible in HTML editor
  src/components/html-text-input.js
  src/components/html-text-input.scss
Labels: Writing Flow, iOS

#758 Start draft with image block
  jest/setup.js
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  react-native-gutenberg-bridge/index.js
  src/block-management/block-manager.js
Labels: Android, Media, Needs iOS Dev

#762 Revert "Start draft with image block"
  jest/setup.js
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  react-native-gutenberg-bridge/index.js
  src/block-management/block-manager.js
Labels: Android, App Integration

#765 Added a minimal delay to call setSelection() to enforce special focus handling cases
  react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecArrowKeyMovementMethod.java
Labels: Android

#761 Fix warning about calling measureSelectionInWindow via UIManager
  ios/gutenberg.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: Needs iOS Dev, iOS

#767 [iOS]Prevent autoscroll of the main scrollview when we focus on a TextInput on Links UI
  package.json
  yarn.lock
Labels: bug, iOS

#763 Start draft with image block (share media to Gutenberg)
  jest/setup.js
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  react-native-gutenberg-bridge/index.js
  react-native-gutenberg-bridge/ios/Gutenberg.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.swift
  src/block-management/block-manager.js
Labels: Needs iOS Dev

#771 Fix android html mode scrolling
  src/components/html-text-input-ui/html-text-input-ui-common.scss
  src/components/html-text-input-ui/html-text-input-ui.android.js
  src/components/html-text-input-ui/html-text-input-ui.android.scss
  src/components/html-text-input-ui/html-text-input-ui.ios.js
  src/components/html-text-input-ui/html-text-input-ui.ios.scss
  src/components/html-text-input.js
  src/components/html-text-input.scss
Labels: Android, bug, iOS

#769 Implement readable content margins
  ios/gutenberg/GutenbergViewController.swift
  ios/gutenberg/Info.plist
  src/block-management/block-manager.js
  src/components/readable-content-view.js
  src/components/readable-content-view.scss
Labels: enhancement

#782 Update demo app to swift 4.2
  ios/gutenberg.xcodeproj/project.pbxproj
  ios/gutenberg/AppDelegate.swift
  ios/gutenberg/MediaPickCoordinator.swift
Labels: iOS

#750 Fix makepot script using wp-i18n makepot
  .gitignore
  package.json
  src/block-management/inline-toolbar/index.js
Labels: enhancement

#781 HTMLInputView refactor to better share code.
  src/components/html-text-input-ui/html-text-input-ui-common.scss
  src/components/html-text-input-ui/html-text-input-ui.android.js
  src/components/html-text-input-ui/html-text-input-ui.android.scss
  src/components/html-text-input-ui/html-text-input-ui.ios.js
  src/components/html-text-input-ui/html-text-input-ui.ios.scss
  src/components/html-text-input.js
Labels: Proposal

#784 [iOS]: Make Hide-Keyboard button work again after dismissing Links UI.
  react-native-aztec/src/AztecView.js
  src/block-management/block-toolbar.js
Labels: bugfix

#746 Issues/710 Leverage existing console polyfill to send logs to native side
  android/app/src/main/java/com/gutenberg/MainApplication.java
  ios/gutenberg/GutenbergViewController.swift
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/GutenbergBridgeJS2Parent.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/ReactNativeGutenbergBridge/RNReactNativeGutenbergBridgeModule.java
  react-native-gutenberg-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/WPAndroidGlueCode.java
  react-native-gutenberg-bridge/index.js
  react-native-gutenberg-bridge/ios/GutenbergBridgeDelegate.swift
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.m
  react-native-gutenberg-bridge/ios/RNReactNativeGutenbergBridge.swift
  src/globals.js
Labels: Needs Android Dev, Needs iOS Dev, enhancement
