Repository wordpress-mobile/gutenberg-mobile, pull requests merged in 2020-08, with the labels that each got.

#2523 Have release script open Gutenberg PR
  bin/release_automation.sh
  bin/release_utils.sh
Labels: release-process

#2541 Update release pull request and checklist template
  .github/PULL_REQUEST_TEMPLATE/release_pull_request.md
  docs/Releasing.md
Labels: release-process

#2548 Update gutenberg ref after react version upgrade to 16.13.1
  package-lock.json
  package.json
Labels: dependencies

#2554 Update release automation script to create WPiOS and WPAndroid PRs
  bin/release_automation.sh
  bin/release_prechecks.sh
  bin/release_utils.sh
  package-lock.json
  package.json
Labels: release-process

#2578 Rename main to trunk in the release script
  bin/release_automation.sh
Labels: [Type] Discussion
