Repository wordpress-mobile/gutenberg-mobile, pull requests merged in 2020-07, with the labels that each got.

#2398 Create script to automate release process steps.
  bin/release_automation.sh
  package-lock.json
  package.json
Labels: [Status] Needs Discussion, release-process

#2464 Update Release doc references to main
  docs/Releasing.md
Labels: release-process

#2394 Split the bundle creation steps for release and code update.
  package.json
Labels: release-process

#2477 Sync Aztec between gutenberg mobile and gutenberg
  RNTAztecView.podspec
Labels: Aztec Compatibility

#2487 Update release documentation checks and templates
  .github/PULL_REQUEST_TEMPLATE/release_pull_request.md
  docs/Releasing.md
Labels: release-process

#2490 Update version change in package-lock.json and commit version changes separately
  bin/release_automation.sh
Labels: release-process

#2512 Update release checklist with usage of release_automation.sh script
  .github/PULL_REQUEST_TEMPLATE/release_pull_request.md
  docs/Releasing.md
Labels: release-process

#2515 Add release prechecks
  bin/release_automation.sh
  bin/release_prechecks.sh
  docs/Releasing.md
Labels: release-process

#2519 Tweak Release docs
  .github/PULL_REQUEST_TEMPLATE/release_pull_request.md
  docs/Releasing.md
Labels: release-process

#2518 Fix links in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: release-process

#2517 Update release script to push gutenberg release branch
  bin/release_automation.sh
Labels: release-process
