Repository wordpress-mobile/gutenberg-mobile, pull requests merged in 2022-05, with the labels that each got.

#4820 Remove WordPress.com tour banner from view in UBE
  RELEASE-NOTES.txt
  resources/unsupported-block-editor/external-style-overrides.css
Labels: Unsupported Block Editor

#4833 Track block movement actions
  src/analytics/redux/tracked_events.js
Labels: Analytics, Project: Drag & Drop blocks

#4903 Release 1.76.2
  RELEASE-NOTES.txt
Labels: release-process
